@import '../../vendor/filament/filament/resources/css/theme.css';

@config '../../tailwind.config.js';

:root {
    --zorum-sidebar-width: 16rem;
}

body {
    @apply !bg-primary-50;
}

/* .fi-main {
    @apply ms-[--zorum-sidebar-width] me-[--zorum-sidebar-width];
} */

.fi-main aside {
    @apply max-w-[--zorum-sidebar-width];
}

.fi-main aside header {
    @apply ring-0 shadow-none;
}

.fi-page {
    @apply max-w-2xl xl:max-w-4xl mx-auto;
}

.zorum-heading .fi-in-text-item {
    @apply !text-3xl;
}

.zorum-tags ul div {
    @apply flex flex-wrap;
}

.zorum .fi-pagination {
    @apply grid-flow-col grid-cols-none;
}
